token: "your-slack-bot-token"
debug: false
timeLocation: "America/Los_Angeles"
replyBehavior:
  threadedReplies: true
  broadcastThreadedReplies: true
plugins:
  quoter:
    quoteconfigs:
      - triggers:
          - "devops"
          - "devsecops"
        frequency: 0.3
        responses:
          - "DevOps is not about tools."
          - "SHIFT LEEEEFFFTTT!!"